.big-card-container {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.big-card-container .big-card__photo {
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.big-card-container .big-card__photo img {
    width: 100%;
    height: 100%;
}

.big-card-container .big-card__title h2 {
    color: #C6C6C6;
    font-size: 20px;
    margin-top: 32px;
}

.big-card-container .big-card__description p {
    color: #4C4C4C;
    margin-top: 16px;
}
