<div class="big-card-container">
  <div class="big-card__photo">
    <img src="https://placedog.net/500" alt="" />
  </div>
  <div class="big-card__title">
    <h2><a href="#">Saiu a nova versão do Angular</a></h2>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quam reprehenderit eum nihil veniam, beatae, ut quisquam sint maiores recusandae eos voluptatibus similique, dolor temporibus dolorem soluta necessitatibus. Non, voluptates.</p>
  </div>
</div>
