.menu-title-container {
  color: #fff;
}

.menu-title-container h1 {
    margin: 15px auto;
    font-size: 135px;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
}

.menu-title-container hr {
    margin: 20px auto;
    font-size: 135px;
    display: flex;
    justify-content: center;
}
