.articles-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.articles-container .articles__main,
.articles-container .articles__others {
    width: 50%;
}
